.error{
    color: red !important;
    text-align: center !important;
}

@font-face {
    font-family: luna;
    src: url("fonts/Luna.ttf");
}
@font-face {
    font-family: carrot;
    src: url("fonts/DK Carrot Juice.otf");
	}
@font-face {
    font-family: short;
    src: url("fonts/Shorthalt Personal Use.otf");
}
@font-face {
    font-family: shorelines;
    src: url("fonts/shorelines.otf");
}
	
@font-face {
    font-family: prisma;
    src: url("fonts/Prisma.ttf");
}
@font-face {
    font-family: paperdaisy;
    src: url("fonts/paperdaisy.ttf");
}
@font-face {
    font-family: fifty;
    src: url("fonts/fifty-five.otf");
}
@font-face {
    font-family: fish;
    src: url("fonts/fishchips.ttf");
}
@font-face {
    font-family: champagne;
    src: url("fonts/champagne.ttf");
}
@font-face {
    font-family: cattia;
    src: url("fonts/Cattia.ttf");
}
@font-face {
    font-family: subscribeshadow;
    src: url("fonts/SubscribeShadow.ttf");
}
@font-face {
    font-family: subscribe;
    src: url("fonts/Subscribe.ttf");
}

body {
	background-color:black;
	}
/* NAVBAR */
.topnav {
    background-color: rgba(0,0,0,0);
    overflow: hidden;
	position:fixed;
	top:0;
	width:100%;
    transition: all ease .5s; 
  z-index: 99999;
}
  #nav.shrink {
  height: 110px;
  transition: all ease .5s;
  background: rgba(0,0,0,0.7); // Change background to black on scroll
}
.topnav a {
	top:0;
    float: right;
    display: block;
    color: silver;
    text-align: center;
	margin-right:30px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
	font-family:champagne;
	padding-right:5px;
	padding top:100px;
}

/* Change the color of links on hover */
.topnav a:hover {
	border-bottom: 2px solid white;
	background-color:;
}
/* Add a color to the active/current link */
.topnav a:active {
	color: white;
	transform: translateY(4px);
}

#add{
	border: 4px solid white;
	margin-top: 17px;
	position:center;
	padding:15px 15px 15px 15px;
	cursor:pointer;
	border-radius: 20px;
	box-shadow: 0 9px gray;
    font-size: 25px;
	}
#add:hover{
	color: white;
	transform:scale(1.02);
	}  
#add:active
	{
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}

#delete{
    border: 4px solid white;
    margin-top: 17px;
    position:center;
    padding:15px 15px 15px 15px;
    cursor:pointer;
    border-radius: 20px;
     box-shadow: 0 9px gray;
     font-size: 25px;
    }
#delete:hover{
    color: white;
    transform:scale(1.02);
    }  
#delete:active
    {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }    

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#log{
	float:left;
}	
.selfie{
	text-align:center;
	color: white; 
	font-family:subscribe; 
	font-size: 80px; 
	padding: 20px 30px 10px 80px;
	font-face:bold;
    margin-left: 150px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    margin: auto;
	position:center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 100%
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 10px 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.modal-body {
    padding: 12px 96px 50px;
    background-color: rgba(0,0,0,0.7);
    margin: auto;
	text-align:center;
  }
  
.sear{
background:rgba(0,0,0,0);
border-color:rgba(0,191,255,0.5);
height:45px;
width:200px;
color:white;
font-size:25px;
font-family:champagne;
border-radius: 20px;
box-shadow: 0 5px gray;
color:white;
}
.sear:hover{
background:rgba(0,191,255,0.5);
transform:scale(1.05);
font-size:25px;
}
.sear:active{
height:45px;
width:200px;
font-size:27px;
box-shadow: 0 3px #666;
transform: translateY(4px);
background:rgba(0,191,255,0.1);
outline:none;
font-weight:bold;
}


.desc {
	padding:15px;
	border: 1px solid white;
	float: left;
	width:30%;
	display:table;
	text-align:center;
	margin-bottom:50px;
	margin:20px;
	}
	
.desc a {
	font-size:22px;
	text-align:center;
	color:silver;
	font-family:luna;
	}	
.desc a:hover {
	color:rgba(0,191,255,0.5);
	font-size:22px;
}
.desc a:active {
	color:rgba(255,255,255,0.6);
	font-size:22px;
}
* {
  box-sizing: border-box;
}

input[type=text]{
padding:10px; 
font-size:20px;
border: 2px solid #ccc;
border-radius: 10px;
color: black;}

label {
	font-family:monospace;
	padding:10px; 
	font-size:25px;
	color: silver;
	font-weight:lighter;}